h1 {color: maroon;
}

.jumbotron {
  background-attachment: fixed;
  background-image: url(https://www.freepik.com/free-photo/dusk-colorful-dramatic-yellow-sun_1088374.htm#page=1&query=sunrise%20background&position=14);
  background-repeat: no-repeat;
  background-size: cover;
}